*{
    margin: 0;
    padding: 0;
}
/*  ----TOP----  */
#container{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h"
    "m"
    "f";
}

section{
    background-color: #5b5b5b;
}

header{
    grid-area: h;
    background-color:  #5b5b5b;
    width: 70%;
    display: flex;
    margin: 0 auto;
}

header ul {
    margin: 40px;
}

header li{
    display: inline;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 2vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

/*  ----MID---- */ 

main{
    grid-area: m;
    background-color: white;
}

.photo img{
    width: 100%;
    margin: 10px;
    box-shadow: 5px 5px 10px 2px rgb(148, 148, 148);

}

.photo{
    width: 80%;
    margin: 0 auto;
}

fieldset{
    text-align: center;
    color: #202020;
    border: none;
    border-top: 2px solid black;
    margin: 0 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

legend p {
    font-size: 200%;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 5px;
    text-align: center;
}

#grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "b1 b2 b3"
    "b1 b5 b6";
    width: 80%;
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 20px;
}

.boxes img{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    transition: transform .2s;
    box-shadow: 2px 2px 10px 2px rgb(148, 148, 148);
}

.boxes img:hover{
    transform: scale(1.03);
}

#box-1{
    grid-area: b1;
    width: 100%;
}

#box-2{
    grid-area: b2;
    width: 100%;
}


#box-3{
    grid-area: b3;
    width: 100%;
}

#box-4{
    grid-area: b5;
    width: 100%;
}

#box-5{
    grid-area: b6;
    width: 100%;
}

#description{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}

#textstyle{
    font-family: sans-serif;
    font-size: 18px;
    text-align: start;
}

#textstyle p{
    margin: 20px;
    margin-top: 3%;
}

/*  ----BOTTOM----  */

footer{
    grid-area: f;
    background-color: #5b5b5b;
    width: 100%;
    margin: 0 auto;
}

#basebord{
    width: 70%;
}

#title{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

#contacts fieldset{
    color: white;
    border: none;
    border-top: 2px solid white;
    margin: 0 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#contacts a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

#contacts img{
    width: 4%;
    margin: 10px ;
    transition: transform .2s;
}

#contacts img:hover{
    transform: scale(1.05);
}

#socialmidia{
    width: 70%;
    margin: 0 auto;

}

#contacts span{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

#contacts p{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
/* ---- Responsive ---- */

@media screen and (max-width: 1405px){
    nav{
        display: none;

    }
    .one,
    .two,
    .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }
    
    .menu-toggle{
        position: absolute;
        top: 10px;
        right: 0;
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
/* ---- Fullscreen ---- */
    .menu-section.on{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #5b5b5b;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on{
        display: block;
    }

    .menu-section.on .menu-toggle{
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }  

    .menu-section.on nav ul{
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }

    @media screen and (max-width: 850px){
        #grid-box{
            display: block;
        }

        .boxes{
            margin: 20px;
        }

        #socialmidia{
            text-align: center;

        }
    }
}